.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .nav-links>li {
    margin: 1rem;
    color: #fbe7d3;
  }
  
  .nav-links a {
    border: 1px solid transparent;
    color: #fbe7d3;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5rem;
  }
  
  .nav-links a:hover,
  .nav-links a:active,
  .nav-links a.active {
    background: #fbe7d3;
    /* border-color: #292929; */
    color: #ff0055;
  }
  
  .nav-links button {
    cursor: pointer;
    background: transparent;
    padding: 0.5rem;
    border-radius: 4px;
    font: inherit;
  }
  
  .nav-links button:focus {
  border:none
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    background: #fbe7d3;
    color: #ff0055;
  }
  
  @media (min-width: 768px) {
    .nav-links {
      flex-direction: row;
    }
  
    .nav-links li {
      margin: 0 1rem;
    }
  
    .nav-links a {
      color: white;
      text-decoration: none;
    }
  
    .nav-links button {
      border: 1px solid white;
      color: white;
      background: transparent;
    }
    
    .nav-links button:hover,
    .nav-links button:active {
      background: #fbe7d3;
      color: #ff0055;
    }
  }
  