@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Capriola', sans-serif;
  font-weight: bolder;
  letter-spacing: 2.3px;
  
}

html {
  font-family: 'Capriola', sans-serif;

}

body {
  margin: 0;
  background: #bed8cf;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 500ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}